* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./player";

@import "./song";
@import "./library";
@import "./nav";

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  color: rgb(102, 102, 102);
  font-weight: 400;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}
